includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - Modules
    excludePaths:
        - */vendor/*
        - config/data.php
        - './.*.php'
